@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap|100,200,300,400,500,600,700'); 
/*-----------------------------------------------------------------------------------------------color*/









/*------------------------------------------------------custom*/
*{
    padding: 0;
    margin: 0;
    font-family: 'mandali' sans-serif
}
header{
    background-image:linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.5)), url("../images/ele.jpg");
    height: 50vh;
    background-size: cover;
    opacity:1;
    min-height: 0%
    background-position:relative;
    background-size:cover;
    transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
} 
ul{
    float:right;
    position: fixed;
    list-style-type: 1rem;
    margin-top: 5px;
}
ul li {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
} 
ul li a {
    text-decoration: none , coral;
    color:#fff;
    padding: 10px 15px 25px;
    float: right;
    border: 1px solid transparent;
    columns: rgb(219, 171, 171);
    font-variant-east-asian: weight 15px;
}
ul li a:hover{
    background-color: #fff;
    color: rgb(219, 122, 122);
}
 ul li .active a {
      background-color: #fff;
      color: rgb(243, 230, 230);
 }

.logo{
    float: center ;
    width: 3px;
    height: 5%;   
    margin-top:10px;
}


}
.main{
    max-width: 100%;
    margin: auto;
    -webkit-transform: 60%;
}
.title{
    position: absolute;
    color: #ffffff;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translateX(-50% )  translateY(-50%);

}

.title h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height:90px;
     justify-content: center;

}
.button{
    position: relative;}
.btn {
    border: 1px, solid #fff;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
    transition: 0.6 ease;
}
.btn:hover{
      background-color: rgb(253, 243, 243);
     color: rgb(20, 18, 18);
}
 #logo{
     width: 200px;
     height: 200px;
     float:right;
     position: fixed;
     margin-top: 15px;
     margin-left: 15px;
     transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
 }
.hvr-sweep-to-bottom:before {
    background: rgb(12, 10, 10);
    height: 120px;
}
@media(min-width: 360px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0px , auto;
    max-width: 50;
}

footer{
    background-color: rgb(145, 144, 144);
}
footer {
    background-color: #7c7473;
    color: #ecbbbb;
    min-height: 120px;
    margin: 0;
}
.cv-pdf{
    font-size: 18px;
    color: #5a0c06;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.cv-pdf i:hover{
    color: #a09f9f;
}
.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fcdbdb;
    background: #eb4949;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.social-links li a i:hover{
    background: #f5a48d;
}
#footer-details {
    padding: 20px;
}
.footer-details{
    padding: 20px;
}
.bg{
    background-color:  #464144
}












/*-------------------------------------------------------------------------------------*/


}
/*---------------------------------------------------------------navbar*/

.navbar {
  background-color: #4e4e4b;
  padding: 10%
}
.navbar .navbar-brand {
  color: #8db68d;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e65c0d;
}
.navbar .navbar-text {
  color: #f6fdf6;
}
.navbar .navbar-text a {
  color: #d1d1e4;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #d1d1d8; 
}
.navbar .navbar-nav .nav-link {
  color: #d62708;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #9393e2;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #1a1a21;
  background-color: #c9ed46;
}
.navbar .navbar-toggle {
  border-color: #c9ed46;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c9ed46;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #0f100f;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #0f100f;
}
.navbar .navbar-link {
  color: #0f100f;
}
.navbar .navbar-link:hover {
  color: #1a1a21;
}

@media (max-width: 320px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
    -ms-accelerator: true;
    -webkit-transform-origin-z: true;
    overflow: hidden;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }
}

@media (max-width: 750px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }
}

@media (max-width: 320px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #0f100f;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #1a1a21;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #1a1a21;
  background-color: #c9ed46;
}

/*.......................................Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #da7d7d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}



/*--------------------------------------Carousel*/

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%
}

.carousel-caption{
    top:200px;
    bottom: auto;
}
.heading{font-size: 60px; text-shadow: 2px 2px #aaa1a3;}
.sub-heading{font-size: 30px; text-shadow: 2px 2px #797777;}

/*-------------------------------------------------------------Footer*/
/*-------------------------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgb(238, 113, 113)
    height: 120px;
}

/*-------------------------------------------------------------Footer*/

/*----------------------------------body*/
/*-------------------------------------------------------------Special padding/margins/text */
h1,
h2,
h3,
h4 {
    margin: 0;
     text:wrap;
}
.uppercase {
    text-transform: uppercase;
}
.general-sub {
    font-family:'Mandali',sans-serif;
    font-weight: 300;
    color: #fafafa
}

.inline-block{
 display: inline-block;
}
.row-table{
 display: table;
}
.section-column{
    display: table-cell;
    padding: 0, 30px, 30px;
    float: none;
} 
.history-heading,
.section-heading {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    margin-top: 25px;
    scroll-margin-bottom: 40px;
}

/*-------------------------------------------------------------Headings*/
header {
    margin: 10;
}

.heading{
    margin: 50px;
      align-content:flex;
}


.name{
    font-family: 'Mandali',sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px    ;
    color: rgb(245, 233, 228);
}

.title{
    font-family: 'Mandali',sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 90px;
    color: rgb(15, 15, 15);
}
h1:hover{
     background-color: #4c504c;
     display: inline-block;
    
}
h2:hover{
     background-color: #4d534d;
     display:inline-block;
     scroll-padding-block: 50px;
}
h3:hover{
    background-color: #555855;
    float: right;
    display: inline-block;

}
.list-inline-item:not(:last-child){
    margin: 0;
}
.menucontainer{
    font-size: 0;
}

#nav{
    margin: 0;
}

#nav lI{
    font-size: 14px;
    padding: 0;
    position: fixed;
    float: right;
}
.menuitem {
    height: 10px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: rgb(8, 8, 8);
    height: 120px;
}
.menuitem a i {
    padding-top: 22px;
    display: inline-block;
    color: #f1f1ef;
    font-size: 6px;
}
.menuitem span{
    display: inline-block;
    width: 10;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 40;
    letter-spacing: 2px;
}
/*-------------------------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgb(114, 8, 8)
    height: 120px;
}

/*-------------------------------------------------------------Footer*/
footer {
    background-color: #4c8383;
    color: #0c0c0c;
    min-height: 120px;
    margin: 0;
}
.cv-pdf{
    font-size: 18px;
    color: #214b39;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.cv-pdf i:hover{
    color: #e84610
}
.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #774545;
    background: #ebc7c7;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.social-links li a i:hover{
    background: #e84610;
}
#footer-details {
    padding: 20px;
}
.footer-details{
    padding: 20px;
}

/*-------------------------------------------------------------Three reasons*/
.three-reasons-icon {
   font-size: 26px;
   color: #e67e22;
}

.three-reasons-heading {
margin-bottom: 15px;
}
/*-------------------------------------------------------------Personal info*/

.personal-info-item {
  margin-bottom: 20px;
  display: block;
  clear: both;
}

.personal-info-item .key, 
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}
.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}
.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top
}
.personal-info-item .key p {
    font-weight: 700;
}
.personal-info-item .value {
    position: relative;
    width: 60%;
}
/*-------------------------------------------------------carosel*/
.carousel-indicators{
    position: absolute;
    right: 25;
    bottom:10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 25;
    margin-right: 45%;
    margin-left:45%
    list-style: none;
    }
.carousel-item{
    position: relative;
    display: none;
    -webkit-box-align: right;
    -ms-overflow-style: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transfoam .6s ~ ease;
    transition: transfoam .6s ~ ease;
    transition: transfoam .6s ~ ease, -webkit-transfoam .6s ~ ease;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 100px;
}
.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-indicators
.active{
    background-color: #fff;
}
.carousel-indicators li{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #fff;
}
dl ol ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.carousel li {::before-element
*,::after,::before {
    box-sizing: border-box;
}
div{
    display: box;
}
.d-block{
    display: block!important;
}
img{
    vertical-align: middle;
    border-style:none;
}
.bd-afrika{
    position: right;
    padding:1rem;
    margin:1rem -15px 0;
    border:solid #ac639e;
    border-width: .2rem 0 0;
}
.d-block{
    display: block!important;
}
w-100{
    width:100%!important;
}
*,::after, ::before{
    box-sizing: border-box;
}
.d-none{
    display: none!important;
}
li {
    display: list-item;
    text-align:-webkit-match-parent;

}
ol{
    display: block;
    list-style-type:decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 40px;
}
@media  (min-width:576px)
.bd-afrika{
    padding: 1.5rem;
    margin-right: 0;
    margin-left:0;
    border-width 0.1;rem;
}
@include media-breakpoint-up (sm) {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 2rem;
}
/*--------------------------------------------------------------images*/
.
/*--------------------------------------------------------buttons*/



/*-------------------------------------------------------------Skills */
.progress{
    position: absolute;
    height: 25px;
    margin-bottom: 4px;
}
.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}
.progress-section{
    margin: 40px, 20px; 
}

/*-------------------------------------------------------------Work history*/


.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.club-ethos{
    height: 100px; 
    position: 0 auto:   
    }
#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: red;
}
#center-about{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: silver;
}
/*---------------------------------------------------------media queries*/
@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50;
}