@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap|100,200,300,400,500,600,700'); 
/*-----------------------------------------------------------------------------------------------color*/

*{
    margin:0;
    padding: 0;
    font-family: 'mandali' sans-serif
}
header{
    background-image:linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.5)), url("../images/safarikenya.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
ul{
    float:right;
    list-style-type:none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
} 
ul li a {
    text-decoration: none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    columns: rgb(219, 171, 171);
    font weight:25%;
    transition: 0.6 ease;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
ul li a:hover{
    background-color: #fff;
    columns: rgb(252, 244, 244);
}
 ul li .active a {
      background-color: #fff;
      color: rgb(243, 230, 230);

 }

.logo{
    float: left;
    width: 100px;
    height: auto;   
}


}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% ,-50%);
    color: #fff;

}

.title h1 {
    color: #fff;
    font-size: 70px;

}
.button{
    position: absolute;
    top: 62%;
    left:50%;
    transform: translate(-50% -50%);
}
.btn {
    border: 1px, solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6 ease;
}
.btn:hover{
      background-color: #fff;
     color: #000;
}
 #logo{
     width: 200px;
     height: 200px;
     float:right;
     position: fixed;
     margin-top: 15px;
     margin-left: 15px;
     transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
 }
.hvr-sweep-to-bottom:before {
    background: rgb(12, 10, 10);
    height: 120px;
}
@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0px , auto;
    max-width: 50;
}














/*-------------------------------------------------------------------------------------*/

.bg-name-color-title {
    background-color: #dae4e1;
}
.ui-menu-color-home {
    background-color: #7e9ba1;
}
.ui-menu-color-packake{
    background-color: #90d0dd;
 }
.ui-menu-color-link{
    background-color: #4095aa;
}
.ui-menu-color-inclusion {
    background-color: #1eb3ce;
}
.bg-color-three-reasons{
    background: #fffefe;;
}
.bg-color-personal-info {
 background: #fdfdfd;
}
.bg-color-three-reasons{
    background-color: #faf9f9;
}
.bg-color-work-history{
  background-color: #fcedf5;
}
/*---------------------------------------------------------------navbar*/

.navbar {
  background-color: #b3b3a2;
  padding: 50%
}
.navbar .navbar-brand {
  color: #0f100f;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #1a1a21;
}
.navbar .navbar-text {
  color: #0f100f;
}
.navbar .navbar-text a {
  color: #1a1a21;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #1a1a21; 
}
.navbar .navbar-nav .nav-link {
  color: #0f100f;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #1a1a21;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #1a1a21;
  background-color: #c9ed46;
}
.navbar .navbar-toggle {
  border-color: #c9ed46;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c9ed46;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #0f100f;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #0f100f;
}
.navbar .navbar-link {
  color: #0f100f;
}
.navbar .navbar-link:hover {
  color: #1a1a21;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
    -ms-accelerator: true;
    -webkit-transform-origin-z: true;
    overflow: hidden;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f100f;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #1a1a21;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #1a1a21;
    background-color: #c9ed46;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #0f100f;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #1a1a21;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #1a1a21;
  background-color: #c9ed46;
}

/*.......................................Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/*--------------------------------------Carousel*/

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%
}

.carousel-caption{
    top:200px;
    bottom: auto;
}
.heading{font-size: 60px; text-shadow: 2px 2px #aaa1a3;}
.sub-heading{font-size: 30px; text-shadow: 2px 2px #797777;}

/*-------------------------------------------------------------Footer*/
/*-------------------------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgb(114, 8, 8)
    height: 120px;
}

/*-------------------------------------------------------------Footer*/
footer {
    background-color: #c6caca;
    color: #0c0c0c;
    min-height: 120px;
    margin: 0;
}
.cv-pdf{
    font-size: 18px;
    color: #fcf9f9;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.cv-pdf i:hover{
    color: #e84610
}
.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #774545;
    background: #fcfafa;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.social-links li a i:hover{
    background: #e84610;
}
#footer-details {
    padding: 20px;
}
.footer-details{
    padding: 20px;
}
.bg{
    background-color: #14koh #b3b3a2
}

/*----------------------------------body*/
body{margin:0;
font-size:1rem;
font-weight:400;
line-height:1.5;
color: #61838b;
text-align:left
}
.background-image:{
background:cross-fade(../images/chitenge.jpg);
}
/*-------------------------------------------------------------Special padding/margins/text */
h1,
h2,
h3,
h4 {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}
.general-sub {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #fafafa
}

.inline-block{
 display: inline-block;
}
.row-table{
 display: table;
}
.section-column{
    display: table-cell;
    padding: 0, 30px, 30px;
    float: none;
} 
.history-heading,
.section-heading {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    margin-top: 25px;
    scroll-margin-bottom: 40px;
}

/*-------------------------------------------------------------Headings*/
header {
    margin: 0;
}

.heading{
    margin: 50px;
}


.name{
    font-family: "Exo",sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px    ;
    color: rgb(206, 93, 41);
}

.title{
    font-family: "Roboto",sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: rgb(15, 15, 15);
}
h1:hover{
     background-color: #4c504c;
     display: inline-block;
    
}
h2:hover{
     background-color: #4d534d;
     display:inline-block;
     scroll-padding-block: 50px;
}
h3:hover{
    background-color: #555855;
    float: right;
    display: inline-block;

}
.list-inline-item:not(:last-child){
    margin: 0;
}
.menucontainer{
    font-size: 0;
}

#nav{
    margin: 0;
}

#nav lI{
    font-size: 14px;
    padding: 0;
    position: fixed;
    float: right;
}
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: rgb(8, 8, 8);
    height: 120px;
}
.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #f1f1ef;
    font-size: 26px;
}
.menuitem span{
    display: block;
    width: 100;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
}
/*-------------------------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgb(114, 8, 8)
    height: 120px;
}

/*-------------------------------------------------------------Footer*/
footer {
    background-color: #c6caca;
    color: #0c0c0c;
    min-height: 120px;
    margin: 0;
}
.cv-pdf{
    font-size: 18px;
    color: #fcf9f9;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.cv-pdf i:hover{
    color: #e84610
}
.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #774545;
    background: #fcfafa;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.social-links li a i:hover{
    background: #e84610;
}
#footer-details {
    padding: 20px;
}
.footer-details{
    padding: 20px;
}

/*-------------------------------------------------------------Three reasons*/
.three-reasons-icon {
   font-size: 26px;
   color: #e67e22;
}

.three-reasons-heading {
margin-bottom: 15px;
}
/*-------------------------------------------------------------Personal info*/

.personal-info-item {
  margin-bottom: 20px;
  display: block;
  clear: both;
}

.personal-info-item .key, 
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}
.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}
.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top
}
.personal-info-item .key p {
    font-weight: 700;
}
.personal-info-item .value {
    position: relative;
    width: 60%;
}
/*-------------------------------------------------------carosel*/
.carousel-indicators{
    position: absolute;
    right: 25;
    bottom:10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 25;
    margin-right: 45%;
    margin-left:45%
    list-style: none;
    }
.carousel-item{
    position: relative;
    display: none;
    -webkit-box-align: right;
    -ms-overflow-style: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transfoam .6s ~ ease;
    transition: transfoam .6s ~ ease;
    transition: transfoam .6s ~ ease, -webkit-transfoam .6s ~ ease;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 100px;
}
.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-indicators
.active{
    background-color: #fff;
}
.carousel-indicators li{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #fff;
}
dl ol ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.carousel li {::before-element
*,::after,::before {
    box-sizing: border-box;
}
div{
    display: box;
}
.d-block{
    display: block!important;
}
img{
    vertical-align: middle;
    border-style:none;
}
.bd-afrika{
    position: right;
    padding:1rem;
    margin:1rem -15px 0;
    border:solid #ac639e;
    border-width: .2rem 0 0;
}
.d-block{
    display: block!important;
}
w-100{
    width:100%!important;
}
*,::after, ::before{
    box-sizing: border-box;
}
.d-none{
    display: none!important;
}
li {
    display: list-item;
    text-align:-webkit-match-parent;

}
ol{
    display: block;
    list-style-type:decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 40px;
}
@media  (min-width:576px)
.bd-afrika{
    padding: 1.5rem;
    margin-right: 0;
    margin-left:0;
    border-width 0.1;rem;
}
@include media-breakpoint-up (sm) {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 2rem;
}
/*--------------------------------------------------------------images*/
.bd-afrika > img{
    +img {
        margin-left: .5rem
    }
}
/*--------------------------------------------------------buttons*/

.bd-afrika{
    >.btn-group {
        margin-top:..25rem;
        margin-bottom:.25rem;
    }
}
> .btn-toolbar + .btn-toolbar {
    margin-top: .5rem;
}

/*-------------------------------------------------------------Skills */
.progress{
    position: absolute;
    height: 25px;
    margin-bottom: 4px;
}
.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}
.progress-section{
    margin: 40px, 20px; 
}

/*-------------------------------------------------------------Work history*/


.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.club-ethos{
    height: 100px; 
    position: 0 auto:   
    }
#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: red;
}
#center-about{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: silver;
}
/*---------------------------------------------------------media queries*/
@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50;
}