@import url('https://fonts.googleapis.com/css2?family=Lato|100,200,300,400,500,600,700'); 

/*------------------------------------------------------body*/
   body{ font-family: 'lato',sans-serif.
    margin: 0;}



 /*------------------------------------------------------nav*/

.name{
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px    ;
    color: rgb(245, 233, 228);
}


#nav{
    margin: 0;
}

#nav lI{
    font-size: 14px;
    padding: 0;
    position: fixed;
    float: right;
}


 /*------------------------------------------------------header*/
header{
    background-image:url("../images/ele.jpg");
    background: cover;
    height: 100vh
    background-size:100%;
    transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
} 


 /*------------------------------------------------------gallery*/
element.style {
    max-width: 600px;
    max-height:500px;
    height: auto;
}
img {
    vertical-align: middle;
    padding: 20px;
    border-radius:  25px;
    width:600px;
    display:inline-block;

}
*, ::after, ::before {
    box-sizing: border-box;
}



 /*------------------------------------------------------body*/

.name{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px    ;
    color: rgb(221, 209, 209);
}



 /*------------------------------------------------------ul/li*/
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(211, 152, 152);
}

.list-inline-item:not(:last-child){
    margin: 0;
}
/*------------------------------------------------------main*/
.main{
    max-width: 100%;
    margin: auto;
    margin-top: 40px;
    transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
}
/*------------------------------------------------------title*/
.title{
    position: static;
    color: #ffffff;
    display: block;
    top: 50%;
    bottom: 50%
    padding: 10px 15px 15px;
     translate:(50px,100px);
    transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 

}

.title h1 {
    color: rgb(248, 237, 237);
    font-size: 50px;
    text-align: center;
    padding: 10px 15px 15px;
    vertical-align: middle;
    line-height:50px;
     justify-content:center center;
     transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 

}

.btn {
    border: 25px, rgb(196, 193, 193);
    padding: 10px 15px 15px;
    color: rgb(214, 169, 18);
    font-size: 15px;
}
.btn:hover{
      background-color: rgb(133, 92, 92);
     color: rgb(12, 11, 11);
} 
 }
.hvr-sweep-to-bottom:before {
    background: rgb(12, 10, 10);
    height: 120px;
}
/*------------------------------------------------------footer*/
footer{
    background-color: #f7f4f3;
    color: #ecbbbb;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fcdbdb;
    background: #eb4949;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.social-links li a i:hover{
    background: #f5a48d;
}
#footer-details {
    padding: 20px;
}
.footer-details{
    padding: 20px;
}
.bg{
    background-color:  #464144
}

/*-------------------------------------------------------------Headings*/

@media(min-width: 360px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0px , auto;
    max-width: 50;
}
/*-------------------------------------------------------------Hover.css*/

/*---------------------------------------------------------media queries*/
@media(min-width: 320px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50;
}

